[global]

; Set this to true if you want to enable Silex developer tools
development = false

; Increase this for more logging verbosity. Only needed if developing CryptoPaste.
log_level = warn

; Maximum body length in bytes
; Default 3145728 = 3MB
body_max_length = 3145728

; Session/cookie lifetime
cookie_lifetime = 86400


[ui]

; href=".." content of an <a> tag in the FAQ
admin_contact = mailto:admin@mywebsite.com

; Show total pastes in the footer
; Runs a DB query on every page load
show_paste_total = true

; Show expirations on view paste
show_expiry = true


[db]

; Driver to use
; Valid settings: mysql, sqlite
driver = mysql

; IF USING MYSQL DRIVER:

; Hostname or IP of MySQL server
host = localhost

; [optional] Port of MySQL server
; port = 3306

; MySQL username
username = cryptopaste

; MySQL password
password = secret

; MySQL database name
; User must have rights: SELECT, INSERT, UPDATE, DELETE
database = cryptopaste

; [optional] Table prefix
; table_prefix = cryp_

; IF USING SQLITE DRIVER:

; Path to SQLite DB file
; path = ../resources/cryptopaste.db


[hashids]

; Length of paste URL hash
length = 8

; Salt to randomize the hash
salt = reallylongsaltvalue
