{% block footerjs %}
<script type="text/javascript" src="captcha.js"></script>
<script type="text/javascript">
  captcha_image_audioObj = new SecurimageAudio({ audioElement: 'captcha_image_audio', controlsElement: 'captcha_image_audio_controls' });
</script>
{% endblock %}
<div class="row">
<div class="col-lg-8">
<p class="text-right">
  <img id="captcha_image" src="captcha.png?{{ random() ~ random() }}" alt="CAPTCHA Image">
</p>
</div>
<div class="col-lg-4 text-left">
  <div id="captcha_image_audio_div">
    <audio id="captcha_image_audio" preload="none" style="display: none">
      <source id="captcha_image_source_wav" src="captcha.wav?id={{ random() ~ random() }}" type="audio/wav">
      <object type="application/x-shockwave-flash" data="captcha.swf?bgcol=%23ffffff&amp;icon_file=cimg%2Faudio_icon.png&amp;audio_file=captcha.mp3" height="32" width="32">
        <param name="movie" value="captcha.swf?bgcol=%23ffffff&amp;icon_file=cimg%2Faudio_icon.png&amp;audio_file=captcha.mp3">
      </object>
    </audio>
  </div>
  <div id="captcha_image_audio_controls">
    <a tabindex="-1" class="captcha_play_button" href="captcha.wav?id={{ random() ~ random() }}" onclick="return false">
      <img class="captcha_play_image" height="32" width="32" src="cimg/audio_icon.png" alt="Play CAPTCHA Audio" style="border: 0px">
      <img class="captcha_loading_image rotating" height="32" width="32" src="cimg/loading.png" alt="Loading audio" style="display: none">
    </a>
  </div>

  <a tabindex="-1" style="border: 0" href="#" title="Refresh Image" onclick="document.getElementById('captcha_image').src = 'captcha.png?' + Math.random(); captcha_image_audioObj.refresh(); this.blur(); return false">
    <img height="32" width="32" src="cimg/refresh.png" alt="Refresh Image" onclick="this.blur()" style="border: 0px; vertical-align: bottom">
  </a>
</div>
</div>


  <label for="captcha_code">Type the text:</label>
  <input type="text" name="captcha" id="captcha_code">
