parameters:

    # Driver: either pdo_mysql or pdo_sqlite
    database_driver: pdo_mysql

    # Host: Required for MySQL
    database_host: 127.0.0.1

    # Port: Required for MySQL only if the port is not default (3306)
    database_port: ~

    # Name: Name of the databse for CryptoPaste
    database_name: cryptopaste

    # User: MySQL user. Must have full rights to database to perform database commands from CLI.
    database_user: cryptopaste

    # Password: MySQL password
    database_password: ~

    # If using SQLite, example: '%kernel.project_dir%/var/data/data.sqlite'
    # Leave this blank if not using SQLite
    database_path: ~

    # Prefix (including any underscore) for database tables
    database_table_prefix: ~

    # A secret key that's used to generate certain security-related tokens
    # This should also match your old Hashids value
    secret: ThisTokenIsNotSoSecretChangeIt

    # Length of paste random ID
    uri_length: 8

    # href=".." content of an <a> tag in the FAQ
    # Can be an email or URL. Bare email addresses will be auto-formatted.
    admin_contact: admin@mywebsite.com

    # Show total pastes in the footer
    # Runs a lightweight DB query on every page load
    show_paste_total: true

    # Show expirations on view paste
    show_paste_expiry: true
